<!DOCTYPE html>

<html>

  <head>
    {% include "header.njk" %}
    {% block scripts %} {% endblock %}
  </head>


  <body class="is-preload  {{lang.css}}">

    {% block content %} {% endblock %} 

    {% block bottomScripts %}{% endblock %}

  </body>

  <script src="/scripts/settings.js"></script>
  <script src="/scripts/main.js"></script>

</html>
