
<title>{{lang.meta_title}}</title>
<link rel="shortcut icon" href="/favicon.ico">
<meta charset="utf-8"/>
<meta http-equiv="content-language" content="{{lang.html_meta}}">
<meta name="viewport" content="width=device-width, initial-scale=1,
			       user-scalable=no"/>
<meta name="Description" content="{{lang.meta_description}}">

<link rel="stylesheet" href="/styles.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">


<!--[if lt IE 9]> 
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
    <![endif]-->

