<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="/images/10ten.png">
    </a>

    <div class="navbar-brand">
      <div id="servers-tabs" class="buttons"></div>
    </div>

    <a role="button" onclick='settings.openSettings()' class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end ">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" onclick='settings.openSettings()'>
            Settings
          </a>
        </div>
      </div>
    </div>

  </div>

</nav>