<div id="settings-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Settings</p>
      <input type="file" id="fileToLoad" onchange="settings.loadFileAsText()" style="display: none">
      <button class="button is-info is-outlined has-margin-right-7" aria-label="close" onclick="document.getElementById('fileToLoad').click();">Import</button>
      <button class="button is-link is-outlined has-margin-right-7" onclick="settings.saveSettings()" aria-label="close" onclick="">Export</button>
      <button class="delete is-danger" aria-label="close" onclick="document.querySelector('#settings-modal').classList.remove('is-active');location.reload();"></button>
    </header>
    <section class="modal-card-body">
      <section class="section has-padding-top-7">
        {# cycling Options #}
        <div class="container">
          <h1 class="title">Cycling</h1>

          <div class="columns">
            <div class="column is-10">
              <label class="checkbox">
              Start cycling through nodes after 10 seconds
              </label>
            </div>
            <div class="column">
              <input onchange="settings.addCycleSettings()" id="cycle_autostart" type="checkbox">
            </div>
          </div>

          <div class="columns">
            <div class="column is-10">
              <label class="checkbox">
              Full Page height for each node
              </label>
            </div>
            <div class="column">
              <input onchange="settings.addCycleSettings()" id="cycle_fullHeight" type="checkbox">
            </div>
          </div>

          <div class="columns">
            <div class="column is-10">
              <label class="checkbox">
              Cycling interval
              </label>
            </div>
            <div class="column field">
              <input onchange="settings.addCycleSettings()" id="cycle_interval" class="input" type="number">
            </div>
          </div>

        </div>
        {# add domains #}
        <div class="container has-padding-top-2">
          <h1 class="title">List of monit xml pages</h1>

          <div id="settings-saved-domains"></div>

          <div class="columns has-margin-top-3">

            <form class="is-flex" onsubmit="return settings.addDomainToSettings(event)">

              <div class="column is-10">

                <div class="field-body">
                  <p class="control field is-expanded">
                    <input id="new-domain-adder-url" class="input" type="text" placeholder="URL to fetch from, finishing with <monit>/_status?format=xml" 
                            autocomplete="off" required>
                  </p>
                </div>

                <div class="field-body has-margin-top-7">
                  <p class="control field is-expanded">
                    <input id="new-domain-adder-nickname" class="input" type="text" placeholder="Nickname (optional)">
                  </p>
                </div>

                <div class="field-body has-margin-top-7">
                  <div class="field">
                    <p class="control is-expanded">
                      <input id="new-domain-adder-user" class="input" type="text" placeholder="Username (optional)">
                    </p>
                  </div>
                  <div class="field">
                    <p class="control is-expanded">
                      <input id="new-domain-adder-pass" class="input" type="text" placeholder="Password (optional)">
                    </p>
                  </div>
                </div>

              </div>

              <div class="column">
                <p class="control is-pulled-right">
                  <button type="submit" class="button is-info">
                  Add
                </button>
                </p>
              </div>

            </form>

          </div>

        </div>

      </section>
    </section>
  </div>
</div>
</div>