// @import "bootstrap/bootstrap-reboot";
// @import "bootstrap/bootstrap-grid";
// @import "bootstrap/bootstrap";

@import "bulma/bulma";
@import "bulma-helpers/margin_padding";

.navbar{
	position: sticky;
    top: 0;
}

#main-content{

	min-height: calc( 100vh - #{$navbar-height});
	// padding: 3rem;

    background-image: linear-gradient(to right top, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
}


.card-status-failing {

	width: 100%;
	background: $danger;
	color: white !important;

	.card-header-title, .card-header {
		color: white;
		text-align: center;
	}

	animation: danger-pulse 0.7s ease infinite;
	
}

@keyframes danger-pulse {
	0%,100% {
	  background: $danger;
	  transform: scale(1);
	}
	
	5% {
	  background: $warning;
	  transform: scale(1.015);
	}
	
  }

.card-status-ok {

	width: 100%;
	background: $success;

	.card-header-title, .card-header {
		color: white;
		text-align: center;
	}


}

.ellipsis{
	overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.service-section{
	min-height: 100vh
}

.service-logo{
	border-radius: 100%;
	max-height: 50px;
	height:auto;
    width:auto;
}
